$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-fourth: #eaeaea;

$padding-five: 5px;
$padding-ten: 10px;

$bt-shadow: darken($colour-fourth, 10);

@mixin btn-shadow($colour: $bt-shadow) {
  box-shadow: 3px 5px 6px $colour;
}

/**** Mobile styles ****/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: #000;
}

header {
  width: auto;
  text-align: center;
  img {
    padding: $padding-ten + 10px 0 $padding-ten;
  }
}

main {
  width: auto;
}

form {
  text-align: center;
  background-color: $colour-fourth;
  padding: 1px 0;
  box-shadow: inset 0 7px 6px -6px darken($colour-fourth, 15);
  label {
    padding-left: $padding-ten + 20px;
    color: darken($colour-fourth, 70);
  }
  input {
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: darken($colour-fourth, 70);
    background-color: $colour-fourth;
    padding-left: $padding-ten + $padding-five;
  }
}

.location__content {
  text-align: center;
  background-color: lighten($colour-fourth, 5);
  padding-bottom: $padding-ten + 40px;
  > h1 {
    margin: 0;
    padding: $padding-ten + 40px $padding-ten + 40px 0;
  }
  > p {
    padding: 0 $padding-ten $padding-ten;
    font-weight: 100;
  }
}

.btn {
  border-radius: 25px;
  background: linear-gradient(170deg, $colour-secondary, $colour-primary);
  border: none;
  padding: $padding-ten + $padding-five $padding-ten + 10px;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  opacity: 1;
  @include btn-shadow;
  &:hover {
    opacity: 0.9;
    @include btn-shadow(darken($bt-shadow, 10));
    transition: all 250ms;
  }
}

/**** Small devices styles ****/
@media all and (min-width: 576px) {
}

/**** Medium devices styles ****/
@media all and (min-width: 768px) {
}

/**** Large devices styles ****/
@media all and (min-width: 992px) {
}

/**** X-Large devices styles ****/
@media all and (min-width: 1200px) {
}
