$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-fourth: #eaeaea;
$colour-fifth: #fff;

$padding-five: 5px;
$padding-ten: 10px;

$bt-shadow: darken($colour-fourth, 10);

@mixin btn-shadow($colour: $bt-shadow) {
  box-shadow: 3px 5px 6px $colour;
}

@mixin h2 {
  padding: $padding-ten + 20 0 0 $padding-ten + 20;
  margin-bottom: 0;
}

@mixin font-md {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

@mixin ul-type {
  text-decoration: none;
  list-style-type: none;
  padding: 20px 0 40px;
  margin: auto;
}

@mixin border {
  border: none;
}

/**** Mobile styles ****/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: #000;
}

h3 {
  padding: 15px 0 0 15px;
  margin: 0;
  font-size: 1.1em;
}

ul {
  @include ul-type;
}

.p-style {
  font-weight: 100;
  margin: 0;
  padding: 3px 0 0 15px;
}

/*Header*/

header {
  width: auto;
  text-align: center;
  img {
    padding: $padding-ten + 10px 0 $padding-ten;
  }
}

/*Main*/

main {
  width: auto;
  margin: auto;
}

/*Location section*/

form {
  text-align: center;
  background-color: $colour-fourth;
  box-shadow: inset 0 7px 6px -6px darken($colour-fourth, 15);
  padding: 1px 0;
  label {
    color: darken($colour-fourth, 70);
    padding-left: $padding-ten + 20px;
  }
  input {
    color: darken($colour-fourth, 70);
    background-color: $colour-fourth;
    padding-left: $padding-ten + $padding-five;
    @include font-md;
    @include border;
  }
}

.location__content {
  text-align: center;
  background-color: lighten($colour-fourth, 5);
  padding-bottom: $padding-ten + 40px;
  > h1 {
    margin: 0;
    padding: $padding-ten + 40px $padding-ten + 40px 0;
  }
  > p {
    font-weight: 100;
    padding: 0 $padding-ten $padding-ten;
  }
}

.btn {
  color: $colour-fifth;
  border-radius: 25px;
  background: linear-gradient(170deg, $colour-secondary, $colour-primary);
  padding: $padding-ten + $padding-five $padding-ten + 10px;
  opacity: 1;
  @include font-md;
  @include btn-shadow;
  @include border;
  &:hover {
    opacity: 0.9;
    @include btn-shadow(darken($bt-shadow, 10));
    transition: all 250ms;
  }
}

/*Working section*/

.working {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  > h2 {
    @include h2;
  }

  &__menu {
    display: block;
    position: relative;
    width: auto;
    font-weight: 700;
    background-color: lighten($colour-fourth, 5);
    border-radius: 20px;
    @include btn-shadow;
    @include border;
    padding: $padding-ten $padding-ten + 30px;
    margin-bottom: 20px;
    > p {
      display: flex;
      > .icon {
        font-size: 1.1em;
        color: darken($colour-fourth, 50);
        padding-right: $padding-ten + 15px;
      }
    }
    &__number {
      display: block;
      position: absolute;
      top: 25px;
      left: -10px;
      color: $colour-fifth;
      text-align: center;
      font-weight: 400;
      font-size: 0.7em;
      border-radius: 50%;
      @include border;
      background-color: $colour-primary;
      height: 17px;
      width: 20px;
      padding-top: 3px;
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  background-color: lighten($colour-fourth, 5);
  > h2 {
    @include h2;
  }
  &__place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: $padding-ten + 10px;
    > article {
      display: block;
      position: relative;
      width: 330px;
      height: 250px;
      background-color: $colour-fifth;
      border-radius: 15px;
      margin-bottom: 20px;
      @include btn-shadow;
      > figure {
        width: 100%;
        height: 175px;
        margin: 0;
        padding: 0;
        > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 15px 15px 0 0;
        }
      }
      > .new {
        display: block;
        position: absolute;
        top: 13px;
        left: 240px;
        background-color: $colour-tertiary;
        color: darken($colour-tertiary, 40);
        font-size: 0.8em;
        font-weight: 700;
        border-radius: 2px;
        padding: $padding-five $padding-ten + $padding-five;
      }
      > .fa-heart {
        display: block;
        position: absolute;
        top: 193px;
        left: 290px;
        font-size: 1.3em;
        color: darken($colour-fourth, 60);
      }
    }
  }
}

/**** Small devices styles ****/
@media all and (min-width: 576px) {
}

/**** Medium devices styles ****/
@media all and (min-width: 768px) {
}

/**** Large devices styles ****/
@media all and (min-width: 992px) {
}

/**** X-Large devices styles ****/
@media all and (min-width: 1200px) {
}
