/*Media Queries*/

$breakpoints: (
  smallDevices: 576px,
  mediumDevices: 768px,
  largeDevices: 992px,
  x-largeDevices: 1200px,
  xx-largeDevices: 1400px,
);

@mixin smallDevices {
  @media screen and (min-width: map-get($breakpoints, smallDevices)) {
    @content;
  }
}

@mixin mediumDevices {
  @media screen and (min-width: map-get($breakpoints, mediumDevices)) {
    @content;
  }
}

@mixin largeDevices {
  @media screen and (min-width: map-get($breakpoints, largeDevices)) {
    @content;
  }
}

@mixin x-largeDevices {
  @media screen and (min-width: map-get($breakpoints, x-largeDevices)) {
    @content;
  }
}

@mixin xx-largeDevices {
  @media screen and (min-width: map-get($breakpoints, xx-largeDevices)) {
    @content;
  }
}

$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-fourth: #eaeaea;

$light: lighten($colour-fourth, 100);
$dark: darken($colour-fourth, 100);

$padding-sm: 10px;
$padding-md: 20px;

$bd-radius: 15px;

$font-size: (
  sm: 0.8em,
  md: 0.9em,
  lg: 1.1em,
  xl: 1.3em,
);

$font-weight: (
  lgt: 100,
  nm: 400,
  bd: 700,
);

$bt-shadow: darken($colour-fourth, 10);

@mixin shadow($colour: $bt-shadow) {
  box-shadow: 3px 5px 6px $colour;
}

@mixin font-md {
  font-family: "Roboto", sans-serif;
  font-weight: map-get($font-weight, bd);
  font-size: map-get($font-size, md);
}

@mixin ul-type {
  text-decoration: none;
  list-style-type: none;
  padding: $padding-md 0 $padding-md * 2;
  margin: auto;
}

$colour-bars: $colour-primary;
$size: 25px;
$number-bars: 3;
$animation-dur: 1000ms;
$animation-delay: $animation-dur / $number-bars;

@keyframes bars {
  0% {
    transform: scaleY(0.2);
    opacity: 0;
  }

  50% {
    transform: scaleY(0.7);
    opacity: 1;
  }

  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

@keyframes load-pg {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes btn-like {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  65% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

$menu-delay: $animation-dur / 3;

@keyframes menu {
  from {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 1000ms ease-in-out;
  }

  to {
    opacity: 1;
  }
}

@keyframes c-box {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/**** Mobile First - styles ****/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: $dark;
  @include xx-largeDevices {
    max-width: 100%;
  }
}

h1 {
  margin: 0;
  padding: $padding-sm + $padding-md * 2 $padding-sm + $padding-md * 2 0;
}

h2 {
  width: 90%;
  display: block;
  padding: $padding-md + $padding-sm 0 0 $padding-md + 5;
  margin-bottom: 0;
  @include smallDevices {
    padding-left: $padding-md * 2;
  }
  @include mediumDevices {
    padding-left: $padding-md * 2;
  }
  @include largeDevices {
    padding-left: $padding-md * 3;
  }
  @include x-largeDevices {
    padding-left: $padding-md * 4;
  }
}

h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7em;
  flex: 2;
  margin-bottom: 0;
}

h4 {
  font-weight: map-get($font-weight, lgt);
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 4px;
  border-bottom: 3px solid $colour-tertiary;
  margin-left: 20px;
  width: 40px;
}

h5 {
  font-size: map-get($font-size, lg);
  color: $dark;
  padding: $padding-sm + 3 0 0 $padding-sm + 5;
  margin: 0;
}

ul {
  @include ul-type;
}

a {
  color: $light;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.p-style {
  font-size: map-get($font-size, md);
  font-weight: map-get($font-weight, lgt);
  color: $dark;
  margin: 0;
  padding: 3px 0 0 $padding-sm + 5;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  animation: load-pg $animation-delay both 2150ms ease-in-out;
  &__load {
    width: $size * 5;
    height: $size * 5;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    &__bar {
      height: 100%;
      width: $size;
      background-color: $colour-bars;
      animation: bars $animation-dur both infinite
        cubic-bezier(0.9, 0.83, 0.83, 0.67) alternate;
      @for $i from 1 through $number-bars {
        &--#{$i} {
          animation-delay: $animation-delay * $i;
        }
        &--#{$i}-inv {
          animation-delay: $animation-delay * $i;
          animation-direction: alternate-reverse;
          background-color: $colour-secondary;
        }
      }
    }
  }
}

/*Header*/

header {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include xx-largeDevices {
    max-width: 1230px;
  }
  img {
    padding: $padding-md 0 $padding-sm + 5;
  }
  .fa-arrow-left {
    position: absolute;
    font-size: 1.2em;
    color: darken($colour-fourth, 70);
    padding-top: $padding-md + $padding-sm;
    left: 20px;
  }
}

/*Main*/

main {
  width: auto;
  margin: auto;
  @include xx-largeDevices {
    max-width: 1230px;
  }
}

/*Location section*/

form {
  text-align: center;
  background-color: $colour-fourth;
  box-shadow: inset 0 7px 6px -6px darken($colour-fourth, 15);
  padding: 1px 0;
  label {
    color: darken($colour-fourth, 70);
    padding-left: $padding-md + $padding-sm;
  }
  input {
    color: darken($colour-fourth, 70);
    background-color: $colour-fourth;
    padding-left: $padding-sm + 5;
    border: none;
    @include font-md;
  }
}

.location__content {
  text-align: center;
  background-color: lighten($colour-fourth, 5);
  padding-bottom: $padding-sm + $padding-md * 2;
  > p {
    font-weight: map-get($font-weight, lgt);
    padding: 0 $padding-sm $padding-sm;
  }
}

.btn {
  color: $light;
  border-radius: 25px;
  background: linear-gradient(170deg, $colour-secondary, $colour-primary);
  padding: $padding-sm + 5 $padding-md;
  border: none;
  opacity: 1;
  @include font-md;
  @include shadow;
  &:hover {
    opacity: 0.85;
    @include shadow(darken($bt-shadow, 10));
    transition: all 250ms;
  }
}

/*Working section*/

.working {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  > ul {
    @include mediumDevices {
      display: flex;
    }
    @include largeDevices {
      justify-content: space-around;
      margin: auto;
    }
  }
  &__menu {
    display: block;
    position: relative;
    width: auto;
    font-weight: map-get($font-weight, bd);
    background-color: lighten($colour-fourth, 5);
    border-radius: 20px;
    @include shadow;
    padding: $padding-sm $padding-md * 2;
    margin-bottom: 20px;
    @include mediumDevices {
      width: 190px;
      margin-right: 10px;
      margin-left: 15px;
      padding-left: $padding-md + 5;
      padding-right: 0;
    }
    @include largeDevices {
      width: auto;
      padding: $padding-sm $padding-md * 2;
    }
    @include x-largeDevices {
      margin-left: 25px;
      margin-right: 25px;
    }
    > p {
      display: flex;
      @include mediumDevices {
        font-size: map-get($font-size, md);
      }
      @include largeDevices {
        font-size: 1em;
      }
      > .fas {
        font-size: map-get($font-size, lg);
        color: darken($colour-fourth, 50);
        padding-right: $padding-sm + 5;
        @include mediumDevices {
          padding-right: 5px;
          padding-top: 2px;
          font-size: map-get($font-size, md);
        }
        @include largeDevices {
          padding-right: $padding-sm + 5;
          font-size: map-get($font-size, lg);
          padding-top: 0;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background-color: lighten($colour-primary, 35);
    }
    &__number {
      display: block;
      position: absolute;
      top: 25px;
      left: -10px;
      color: $light;
      text-align: center;
      font-weight: map-get($font-weight, nm);
      font-size: 0.7em;
      border-radius: 50%;
      background-color: $colour-primary;
      height: 17px;
      width: 20px;
      padding-top: 3px;
    }
  }
}

.bg-btn:hover .icon {
  color: $colour-primary;
}

/*Restaurants section*/

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  background-color: lighten($colour-fourth, 5);
}

.restaurants-prev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: $padding-md $padding-md $padding-md * 3;
  @include mediumDevices {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include x-largeDevices {
    justify-content: flex-start;
  }
}

.restaurants-card {
  display: block;
  position: relative;
  &__preview {
    display: block;
    position: relative;
    width: 330px;
    height: 250px;
    background-color: $light;
    border-radius: $bd-radius;
    margin-bottom: 20px;
    @include shadow;
    @include smallDevices {
      width: 500px;
      height: 320px;
    }
    @include mediumDevices {
      width: 330px;
      height: 250px;
      margin-right: 15px;
      margin-left: 15px;
    }
    @include largeDevices {
      width: 205px;
      margin-right: 10px;
    }
    @include x-largeDevices {
      width: 250px;
    }
    > img {
      object-fit: cover;
      width: 100%;
      height: 175px;
      border-radius: $bd-radius $bd-radius 0 0;
      @include smallDevices {
        height: 240px;
      }
      @include mediumDevices {
        height: 175px;
      }
    }
    > .new {
      display: block;
      position: absolute;
      top: 13px;
      left: 240px;
      background-color: $colour-tertiary;
      color: darken($colour-tertiary, 40);
      font-size: map-get($font-size, sm);
      font-weight: map-get($font-weight, bd);
      border-radius: 2px;
      padding: 5px $padding-sm + 5;
      @include smallDevices {
        left: 405px;
      }
      @include mediumDevices {
        left: 240px;
      }
      @include largeDevices {
        left: 115px;
      }
      @include x-largeDevices {
        left: 157px;
      }
    }
  }
  &__like {
    display: block;
    position: absolute;
    top: 195px;
    left: 285px;
    font-size: map-get($font-size, xl);
    @include smallDevices {
      left: 450px;
      top: 260px;
    }
    @include mediumDevices {
      left: 290px;
      top: 195px;
    }
    @include largeDevices {
      left: 190px;
      font-size: map-get($font-size, lg);
    }
    @include x-largeDevices {
      left: 230px;
    }
    > .far {
      position: absolute;
      color: darken($colour-fourth, 60);
    }
    i.fas {
      opacity: 0;
      &:hover {
        background: -webkit-linear-gradient(
          90deg,
          $colour-secondary,
          $colour-primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: btn-like both 500ms cubic-bezier(0.9, 0.83, 0.83, 0.67);
      }
    }
    > .fas {
      position: absolute;
      cursor: pointer;
    }
  }
}

/*Menu page*/

.menu {
  display: flex;
  flex-direction: column;
  &__img {
    width: auto;
    z-index: -1;
    > img {
      width: 100%;
    }
  }
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: -55px;
  background-color: lighten($colour-fourth, 5);
  border-radius: 35px 35px 0 0;
}

.menu-heading {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: $padding-md;
  > i {
    flex: 1;
    text-align: right;
    font-size: map-get($font-size, xl);
    color: darken($colour-fourth, 60);
    padding-right: $padding-md + $padding-sm;
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
}

.menu-card {
  display: flex;
  flex-direction: column;
}

.menu-prev {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.menu-descrip {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 94%;
  background-color: $light;
  border-radius: $bd-radius;
  padding: 0;
  margin-bottom: 15px;
  @include shadow;
  animation: menu $animation-dur backwards ease-in-out;
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: $menu-delay * $i;
    }
  }
  &:hover .check-box {
    width: 20%;
    > .fa-check-circle {
      animation: c-box 500ms linear;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    &__text {
      width: 80%;
      h5,
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &__price {
      width: 20%;
      font-weight: map-get($font-weight, bd);
      text-align: center;
      > p {
        padding-top: $padding-md - 1;
      }
    }
  }
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  right: 0;
  top: 0;
  height: 73px;
  transform-origin: right center;
  cursor: pointer;
  color: $light;
  font-size: map-get($font-size, xl);
  border-radius: 0 $bd-radius $bd-radius 0;
  background-color: $colour-tertiary;
  transition: width 500ms linear;
}

.menu-btn {
  text-align: center;
  padding: $padding-sm 0;
  margin: 20px 0 60px;
  span {
    padding: 0 $padding-md;
  }
}

/*Footer*/

footer {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: darken($colour-fourth, 75);
  color: $light;
  @include mediumDevices {
    align-items: center;
  }
  @include xx-largeDevices {
    max-width: 100%;
  }
  img {
    width: 100px;
    padding: $padding-md + 5 0 0 $padding-md + 5;
    filter: invert(100%);
    @include mediumDevices {
      padding-left: 0;
      width: 180px;
    }
  }
}

.nav__footer {
  padding-left: $padding-md + 5;
  &__li {
    padding: $padding-sm - 5 0;
    font-size: map-get($font-size, md);
    > i {
      font-size: map-get($font-size, sm);
      padding-right: 5px;
    }
  }
  @include mediumDevices {
    text-align: center;
    padding-left: 0;
  }
}
