@keyframes bars {
  0% {
    transform: scaleY(0.2);
    opacity: 0;
  }
  50% {
    transform: scaleY(0.7);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}
@keyframes load-pg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes btn-like {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  65% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu {
  from {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 1000ms ease-in-out;
  }
  to {
    opacity: 1;
  }
}
@keyframes c-box {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/**** Mobile styles ****/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: auto;
  color: black;
}

h1 {
  margin: 0;
  padding: 50px 50px 0;
}

h2 {
  padding: 30px 0 0 30px;
  margin-bottom: 0;
}

h3 {
  font-size: 1.1em;
  color: black;
  padding: 13px 0 0 15px;
  margin: 0;
}

h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7em;
  flex: 2;
  margin-bottom: 0;
}

h5 {
  font-weight: 100;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 4px;
  border-bottom: 3px solid #99e2d0;
  margin-left: 20px;
  width: 40px;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 20px 0 40px;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.p-style {
  font-size: 0.9em;
  font-weight: 100;
  color: black;
  margin: 0;
  padding: 3px 0 0 15px;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
  animation: load-pg 333.3333333333ms both 2150ms ease-in-out;
}
.loading__load {
  width: 150px;
  height: 125px;
  display: flex;
  justify-content: space-evenly;
}
.loading__load__bar {
  height: 100%;
  width: 25px;
  background-color: #9356dc;
  animation: bars 1000ms both 3000ms cubic-bezier(0.9, 0.83, 0.83, 0.67);
}
.loading__load__bar--1 {
  animation-delay: 333.3333333333ms;
}
.loading__load__bar--2 {
  animation-delay: 666.6666666667ms;
}
.loading__load__bar--3 {
  animation-delay: 1000ms;
}

/*Header*/
header {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header img {
  padding: 20px 0 15px;
}
header .fa-arrow-left {
  position: absolute;
  font-size: 1.2em;
  color: #383838;
  padding-top: 30px;
  left: 20px;
}

/*Main*/
main {
  width: auto;
  margin: auto;
}

/*Location section*/
form {
  text-align: center;
  background-color: #eaeaea;
  box-shadow: inset 0 7px 6px -6px #c4c4c4;
  padding: 1px 0;
}
form label {
  color: #383838;
  padding-left: 30px;
}
form input {
  color: #383838;
  background-color: #eaeaea;
  padding-left: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.location__content {
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.location__content > p {
  font-weight: 100;
  padding: 0 10px 10px;
}

.btn {
  color: white;
  border-radius: 25px;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 15px 20px;
  border: none;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  box-shadow: 3px 5px 6px #d1d1d1;
}
.btn:hover {
  opacity: 0.85;
  box-shadow: 3px 5px 6px #b7b7b7;
  transition: all 250ms;
}

/*Working section*/
.working {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}
.working__menu {
  display: block;
  position: relative;
  width: auto;
  font-weight: 700;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 3px 5px 6px #d1d1d1;
  padding: 10px 40px;
  margin-bottom: 20px;
}
.working__menu > p {
  display: flex;
}
.working__menu > p > .fas {
  font-size: 1.1em;
  color: #6b6b6b;
  padding-right: 15px;
}
.working__menu:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.working__menu__number {
  display: block;
  position: absolute;
  top: 25px;
  left: -10px;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 0.7em;
  border-radius: 50%;
  background-color: #9356dc;
  height: 17px;
  width: 20px;
  padding-top: 3px;
}

.bg-btn:hover .icon {
  color: #9356dc;
}

/*Restaurants section*/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  background-color: #f7f7f7;
}

.restaurants-prev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 20px;
}

.restaurants-card {
  display: block;
  position: relative;
}
.restaurants-card__preview {
  display: block;
  position: relative;
  width: 330px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 5px 6px #d1d1d1;
}
.restaurants-card__preview > img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurants-card__preview > .new {
  display: block;
  position: absolute;
  top: 13px;
  left: 240px;
  background-color: #99e2d0;
  color: #278870;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 2px;
  padding: 5px 15px;
}
.restaurants-card__like {
  display: block;
  position: absolute;
  top: 195px;
  left: 285px;
  font-size: 1.3em;
}
.restaurants-card__like > .far {
  position: absolute;
  color: #515151;
}
.restaurants-card__like i.fas {
  opacity: 0;
}
.restaurants-card__like i.fas:hover {
  background: -webkit-linear-gradient(90deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: btn-like both 500ms cubic-bezier(0.9, 0.83, 0.83, 0.67);
}
.restaurants-card__like > .fas {
  position: absolute;
  cursor: pointer;
}

/*Menu page*/
.menu {
  display: flex;
  flex-direction: column;
}
.menu__img {
  width: auto;
  z-index: -1;
}
.menu__img > img {
  width: 100%;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: -55px;
  background-color: #f7f7f7;
  border-radius: 35px 35px 0 0;
}

.menu-heading {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 20px;
}
.menu-heading > i {
  flex: 1;
  text-align: right;
  font-size: 1.3em;
  color: #515151;
  padding-right: 30px;
}

.menu-main {
  display: flex;
  flex-direction: column;
}

.menu-card {
  display: flex;
  flex-direction: column;
}

.menu-prev {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.menu-descrip {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 94%;
  background-color: white;
  border-radius: 15px;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 3px 5px 6px #d1d1d1;
  animation: menu 1000ms backwards ease-in-out;
}
.menu-descrip--1 {
  animation-delay: 333.3333333333ms;
}
.menu-descrip--2 {
  animation-delay: 666.6666666667ms;
}
.menu-descrip--3 {
  animation-delay: 1000ms;
}
.menu-descrip:hover .check-box {
  width: 20%;
}
.menu-descrip:hover .check-box > .fa-check-circle {
  animation: c-box 500ms linear;
}
.menu-descrip__content {
  width: 100%;
  display: flex;
}
.menu-descrip__content__text {
  width: 80%;
}
.menu-descrip__content__text h3,
.menu-descrip__content__text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-descrip__content__price {
  width: 20%;
  font-weight: 700;
  text-align: center;
}
.menu-descrip__content__price > p {
  padding-top: 19px;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  right: 0;
  top: 0;
  height: 73px;
  transform-origin: right center;
  cursor: pointer;
  color: white;
  font-size: 1.3em;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: width 500ms linear;
}

.menu-btn {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 60px;
}
.menu-btn span {
  padding: 0 20px;
}

/*Footer*/
footer {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  color: white;
}
footer img {
  width: 30%;
  padding: 25px 0 0 25px;
  filter: invert(100%);
}

.nav__footer {
  padding-left: 25px;
}
.nav__footer__li {
  padding: 5px 0;
  font-size: 0.9em;
}
.nav__footer__li > i {
  font-size: 0.8em;
}

/**** Small devices styles ****/
/**** Medium devices styles ****/
/**** Large devices styles ****/
/**** X-Large devices styles ****/

/*# sourceMappingURL=style.css.map */
